---
import type { ImagesDictionary } from "../../types";
import projects from "../../constants/projects.json";

import TodoImage from "../../assets/images/todoAppV1.png";
import SimpleBlogImage from "../../assets/images/simpleBlog.png";
import DotEnvImage from "../../assets/images/dotenv.png";
import TicTacToeImage from "../../assets/images/ticTacToe.png";
import defaultImage from "../../assets/images/800x450.svg";
import PortfolioGallery from "./PortfolioGallery.astro";
import PortfolioList from "./PortfolioList.astro";

const GALERY_SIZE = 4;

const projectImages: ImagesDictionary = {
  todoApp: TodoImage,
  simpleBlog: SimpleBlogImage,
  dotenv: DotEnvImage,
  TicTacToe: TicTacToeImage,
};

const projectsData = projects.map((project) => ({
  ...project,
  image: projectImages?.[project.image] ?? defaultImage,
}));
---

<section class="flex flex-col max-w-screen-lg gap-4 px-3 py-6 mx-auto lg:gap-6">
  <header>
    <h2 class="mb-3 text-2xl font-bold">
      Personal
      <span
        class="text-transparent bg-gradient-to-br from-secondary-light to-primary-light bg-clip-text"
      >
        Projects
      </span>
    </h2>
  </header>

  <!-- Display the first four items in gallery view and the remaining items in list view. -->
  <PortfolioGallery projects={projectsData?.slice(0, GALERY_SIZE)} />
  <!-- <PortfolioList projects={projectsData?.slice(GALERY_SIZE)} /> -->
</section>
