---
import About from "../components/About.astro";
import WorkExperience from "../components/workExperience/WorkExperience.astro";
import Contact from "../components/Contact.astro";
import Portfolio from "../components/portfolio/Portfolio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alexander Valencia - Portfolio">
  <main>
    <About />
    <WorkExperience />
    <Portfolio />
    <Contact />
  </main>
</Layout>
