---
import Icon from "./Icon.astro";
import Github from "./svg/Github.astro";
import Linkedin from "./svg/Linkedin.astro";
---

<section class:list={["mx-auto", "max-w-screen-lg", "px-3", "py-6"]}>
  <article
    class:list={[
      "flex",
      "flex-col",
      "items-center",
      "p-5",
      "md:p-0",
      "md:flex-row",
      "md:justify-between",
      "md:gap-x-24",
    ]}
  >
    <div>
      <h1 class="text-3xl font-bold animate-fade-right">
        Hi there, I'm <span
          class="bg-gradient-to-br from-secondary-light to-primary-light bg-clip-text text-transparent"
        >
          Alexander Valencia
        </span>
        <span class="w-auto h-auto animate-jump">👋</span>
      </h1>

      <p class="mt-6 text-xl leading-9 animate-fade-right">
        Full-stack developer with a passion for backend development using NodeJS
        and a strong interest in frontend development. Committed to continuous
        learning and exploring new technologies and languages.
      </p>

      <div class="mt-4 flex gap-1 mb-7 md:mb-0 animate-fade-right">
        <Icon
          label="Go to Github profile"
          className="hover:translate-y-1 hover:text-zinc-600"
          href="https://github.com/alex16jpv"
        >
          <Github w={40} h={40} />
        </Icon>
        <Icon
          label="Go to LinkedIn profile"
          className="hover:translate-y-1 hover:text-sky-600"
          href="https://www.linkedin.com/in/alex16jpv"
        >
          <Linkedin w={40} h={40} />
        </Icon>
      </div>
    </div>
    <div class="shrink-0 hidden md:block animate-fade-left">
      <img class="h-80 w-64" src="/256x320.svg" alt="Profile photo" />
    </div>
  </article>
</section>
