---
import { Image } from "astro:assets";
import ProfileImage from "../assets/images/256x320.svg";
import Icon from "./Icon.astro";
import Github from "./svg/Github.astro";
import Linkedin from "./svg/Linkedin.astro";
---

<section class:list={["mx-auto", "max-w-screen-lg", "px-3", "py-6"]}>
  <article
    class:list={[
      "flex",
      "flex-col",
      "items-center",
      "p-5",
      "md:p-0",
      "md:flex-row",
      "md:justify-between",
      "md:gap-x-24",
    ]}
  >
    <div
      class="animate-duration-200 md:animate-duration-300 animate-fade-down md:animate-fade-right"
    >
      <h1 class="text-3xl font-bold">
        Hi there <span class="w-auto h-auto">👋</span>, I'm
        <br class="md:hidden" />
        <span
          class="text-transparent bg-gradient-to-br from-secondary-light to-primary-light bg-clip-text"
        >
          &lt;Alexander Valencia /&gt;
        </span>
      </h1>

      <p class="mt-6 text-xl leading-9">
        Full-stack developer with a passion for backend development using NodeJS
        and a strong interest in frontend development. Committed to continuous
        learning and exploring new technologies and languages.
      </p>

      <div class="flex gap-1 mt-4 mb-7 md:mb-0">
        <Icon
          label="Go to Github profile"
          className="hover:translate-y-1 hover:text-zinc-600"
          href="https://github.com/alex16jpv"
        >
          <Github w={40} h={40} />
        </Icon>
        <Icon
          label="Go to LinkedIn profile"
          className="hover:translate-y-1 hover:text-sky-600"
          href="https://www.linkedin.com/in/alex16jpv"
        >
          <Linkedin w={40} h={40} />
        </Icon>
      </div>
    </div>
    <div
      class="hidden shrink-0 md:block animate-fade-left animate-duration-300"
    >
      <!-- src="../assets/images/256x320.svg" alt="Profile photo" class="w-64 h-80" -->
      <Image src={ProfileImage} alt="Profile" width={256} height={320} />
    </div>
  </article>
</section>
